@import "tailwindcss";

@theme inline {
  --background: #FBF7F4;
  --foreground: #5B4B49;
  --color-background: #FBF7F4;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FBF7F4;
  --foreground: #5B4B49;
  --color-background: #FBF7F4;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
