@import "tailwindcss";

@theme inline {
  --background: #FBF7F4;
  --foreground: #5B4B49;
  --color-background: #FBF7F4;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FBF7F4;
  --foreground: #5B4B49;
  --color-background: #FBF7F4;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #eea094;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-in {
  animation: dropIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}