@import "tailwindcss";

@theme inline {
  --background: #fffefd;
  --foreground: #3f3838;
  --color-background: #fffefd;
  --color-foreground: #3f3838;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-karla: var(--font-karla);
  --font-josefin-sans: var(--font-josefin-sans);
}

:root {
  --background: #fffefd;
  --foreground: #3f3838;
  --color-background: #fffefd;
  --color-foreground: #3f3838;
  --color-primary: #6C9A8B;
  --color-secondary: #eea094;
  --color-accent: #EED2CC;
  --color-button: #864d34;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-karla: var(--font-karla);
  --font-josefin-sans: var(--font-josefin-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-karla), Helvetica, sans-serif;
}

H1, H2, H3, H4, H5, H6 {
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}


@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-in {
  animation: dropIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 2s linear forwards;
}




@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


.line-animate-horizontal {
  opacity: 0;
  width: 0;
  animation: lineGrowHorizontal 0.8s cubic-bezier(0.4,0,0.2,1) forwards;
}

@keyframes lineGrowHorizontal {
  to {
    opacity: 1;
    width: 90%;
  }
}

.line-animate-vertical {
  opacity: 0;
  height: 0;
  animation: lineGrowVertical 0.8s cubic-bezier(0.4,0,0.2,1) forwards;
}

@keyframes lineGrowVertical {
  to {
    opacity: 1;
    height: 40%;
  }
}

/*mobile scrollbar hidden*/
@media (max-width: 1024px) {
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.header-blur-gradient {

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
}

.bg-fade-gradient {
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1));
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1));
}
