@import "tailwindcss";

@theme inline {
  --background: #fffbf8;
  --foreground: #5B4B49;
  --color-background: #fffbf8;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fffbf8;
  --foreground: #5B4B49;
  --color-background: #fffbf8;
  --color-foreground: #5B4B49;
  --color-primary: #6C9A8B;
  --color-secondary: #eea094;
  --color-accent: #EED2CC;
  --color-button: #864d34;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.drop-in {
  animation: dropIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.bg-fade-gradient {
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1));
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1));
}

@media (max-width: 1024px) { /* Tailwind's sm breakpoint */
  body, * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.header-blur-gradient {

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
}